OjekOnlineWebApp/src/Service/OjekOnline2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service/" name="OjekOnlineService">
<types>
<xsd:schema>
<xsd:import namespace="http://Service/" schemaLocation="http://localhost:8082/OjekOnline?xsd=1"/>
</xsd:schema>
</types>
<message name="search_customer_name">
<part name="parameters" element="tns:search_customer_name"/>
</message>
<message name="search_customer_nameResponse">
<part name="parameters" element="tns:search_customer_nameResponse"/>
</message>
<message name="retrieveDriverRating">
<part name="parameters" element="tns:retrieveDriverRating"/>
</message>
<message name="retrieveDriverRatingResponse">
<part name="parameters" element="tns:retrieveDriverRatingResponse"/>
</message>
<message name="profileData">
<part name="parameters" element="tns:profileData"/>
</message>
<message name="profileDataResponse">
<part name="parameters" element="tns:profileDataResponse"/>
</message>
<message name="validate">
<part name="parameters" element="tns:validate"/>
</message>
<message name="validateResponse">
<part name="parameters" element="tns:validateResponse"/>
</message>
<message name="update_tabel">
<part name="parameters" element="tns:update_tabel"/>
</message>
<message name="update_tabelResponse">
<part name="parameters" element="tns:update_tabelResponse"/>
</message>
<message name="update_locations">
<part name="parameters" element="tns:update_locations"/>
</message>
<message name="update_locationsResponse">
<part name="parameters" element="tns:update_locationsResponse"/>
</message>
<message name="search_history">
<part name="parameters" element="tns:search_history"/>
</message>
<message name="search_historyResponse">
<part name="parameters" element="tns:search_historyResponse"/>
</message>
<message name="saveOrder">
<part name="parameters" element="tns:saveOrder"/>
</message>
<message name="saveOrderResponse">
<part name="parameters" element="tns:saveOrderResponse"/>
</message>
<message name="retrieveDrivers">
<part name="parameters" element="tns:retrieveDrivers"/>
</message>
<message name="retrieveDriversResponse">
<part name="parameters" element="tns:retrieveDriversResponse"/>
</message>
<portType name="OjekOnline">
<operation name="search_customer_name">
<input wsam:Action="http://Service/OjekOnline/search_customer_nameRequest" message="tns:search_customer_name"/>
<output wsam:Action="http://Service/OjekOnline/search_customer_nameResponse" message="tns:search_customer_nameResponse"/>
</operation>
<operation name="retrieveDriverRating">
<input wsam:Action="http://Service/OjekOnline/retrieveDriverRatingRequest" message="tns:retrieveDriverRating"/>
<output wsam:Action="http://Service/OjekOnline/retrieveDriverRatingResponse" message="tns:retrieveDriverRatingResponse"/>
</operation>
<operation name="profileData">
<input wsam:Action="http://Service/OjekOnline/profileDataRequest" message="tns:profileData"/>
<output wsam:Action="http://Service/OjekOnline/profileDataResponse" message="tns:profileDataResponse"/>
</operation>
<operation name="validate">
<input wsam:Action="http://Service/OjekOnline/validateRequest" message="tns:validate"/>
<output wsam:Action="http://Service/OjekOnline/validateResponse" message="tns:validateResponse"/>
</operation>
<operation name="update_tabel">
<input wsam:Action="http://Service/OjekOnline/update_tabelRequest" message="tns:update_tabel"/>
<output wsam:Action="http://Service/OjekOnline/update_tabelResponse" message="tns:update_tabelResponse"/>
</operation>
<operation name="update_locations">
<input wsam:Action="http://Service/OjekOnline/update_locationsRequest" message="tns:update_locations"/>
<output wsam:Action="http://Service/OjekOnline/update_locationsResponse" message="tns:update_locationsResponse"/>
</operation>
<operation name="search_history">
<input wsam:Action="http://Service/OjekOnline/search_historyRequest" message="tns:search_history"/>
<output wsam:Action="http://Service/OjekOnline/search_historyResponse" message="tns:search_historyResponse"/>
</operation>
<operation name="saveOrder">
<input wsam:Action="http://Service/OjekOnline/saveOrderRequest" message="tns:saveOrder"/>
<output wsam:Action="http://Service/OjekOnline/saveOrderResponse" message="tns:saveOrderResponse"/>
</operation>
<operation name="retrieveDrivers">
<input wsam:Action="http://Service/OjekOnline/retrieveDriversRequest" message="tns:retrieveDrivers"/>
<output wsam:Action="http://Service/OjekOnline/retrieveDriversResponse" message="tns:retrieveDriversResponse"/>
</operation>
</portType>
<binding name="OjekOnlinePortBinding" type="tns:OjekOnline">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="search_customer_name">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveDriverRating">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="profileData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update_tabel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update_locations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="search_history">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveDrivers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OjekOnlineService">
<port name="OjekOnlinePort" binding="tns:OjekOnlinePortBinding">
<soap:address location="http://localhost:8082/OjekOnline"/>
</port>
</service>
</definitions>